<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous" />

    <link rel="stylesheet" href="~/CSS/header.css" />
    <link rel="stylesheet" href="~/CSS/styles.css" />
    <link rel="stylesheet" href="~/CSS/styles2.css" />
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")" v-on:click="goToHome">Sunset</a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                電影列表
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="~/FrontMovies/MovieBlockbuster">強檔熱映</a></li>
                                <li><a class="dropdown-item" href="~/FrontMovies/MovieComingSoon">即將上映</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                影城介紹
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("About", "Home")">品牌理念</a></li>
                                <li><a class="dropdown-item" href="Theater-Info.html">影城位置</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                News
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">影城公告</a></li>
                                <li><a class="dropdown-item" href="#">影城活動</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="Support-QA.HTML" class="nav-link text-light">常見問題</a>
                        </li>
                    </ul>
                    <div class="contain-flex align-items-center text-end ">
                        <div class="login-container me-3">
                            @{

                                if (User.Identity.IsAuthenticated)
                                {
                                    <div class="nav-item dropdown h-100">
                                        <a href="#"
                                           class="nav-link d-flex align-items-center justify-content-center h-100"
                                           role="button"
                                           data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <img src="/images/circle-user-regular.jpg"
                                                 alt="User Avatar"
                                                 class="login-icon" />
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="">變更資料</a></li>
                                            <li><a class="dropdown-item" href="~/MemberLogin/ChangePassword">變更密碼</a></li>
                                            <li><a class="dropdown-item" href="~/Member/Tickets">票夾</a></li>
                                            <li><a class="dropdown-item" href="~/Member/UserHistory">歷史訂單</a></li>
                                            <li><a class="dropdown-item" href="~/Member/TransactionHistory">儲值資訊</a></li>
                                            <li><a class="dropdown-item" href="@Url.Action("Logout", "MemberLogin")" v-on:click="logout">登出</a></li>
                                        </ul>
                                    </div>
                                }
                                else
                                {
                                    <div class="nav-item h-100">
                                        <a href="~/MemberLogin/MemberLogin"
                                           class="nav-link text-light d-flex align-items-center justify-content-center h-100">
                                            <img src="/images/arrow-right-to-bracket-solid.png"
                                                 alt="Login"
                                                 class="login-icon" />
                                        </a>
                                    </div>
                                }
                            }
                        </div>
                        <a href="~/BookTickets/ChoiceMovies" class="btn btn-warning ticketBtn">立即購票</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <div class="footer-sticky">
        @RenderBody()
        <hr />
        <footer class="bg-dark text-light py-3 mt-auto">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                        <span>&copy; Sunset</span>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <a href="#" class="text-light mx-2">關於我們</a>
                        <a href="#" class="text-light mx-2">隱私政策</a>
                        <a href="#" class="text-light mx-2">聯繫我們</a>
                        <a href="#" class="text-light mx-2">人才招募</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://unpkg.com/vue@3.5.4/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
